.theatre {
  
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}

.curtain-left,
.curtain-right {
  position: absolute;
  top: -300px;
  bottom: -30px;
  width: 61%;
  background-color: rgb(255, 0, 10);
  background-image: linear-gradient(
    90deg,
    rgba(204, 0, 10, 1) 30%,
    transparent 50%,
    rgba(204, 0, 10, 1) 80%,
    transparent 100%
  );
  background-size: 90px;
}

.curtain-left {
  left: -10%;
  filter: drop-shadow(1px 6px 6px black);
  box-shadow: -2px 0px 6px rgba(255, 255, 255, 0.4) inset,
    0px 320px 40px rgba(0, 0, 0, 0.5) inset;
}

.curtain-right {
  right: -10%;
  filter: drop-shadow(1px 6px 6px black);
  box-shadow: 2px 0px 6px rgba(255, 255, 255, 0.4) inset,
    -0px 320px 40px rgba(0, 0, 0, 0.5) inset;
}

.theatre:hover .curtain-left {
  transform: translateX(-100%) rotate(15deg);
  transition: all 3s ease;
  transform-origin: 50% bottom;
}

.theatre:hover .curtain-right {
  transform: translateX(100%) rotate(-15deg);
  transition: all 3s ease;
  transform-origin: 50% bottom;
}

main { 
  margin: 15px auto;
    
  display: grid;
  grid-template-columns: 1fr;
}

.cast {  
  display: flex;
  flex-wrap: wrap;
}

img{
width: 100px;
height: 115px;
}


/* Example: Change color of play button */
.plyr__control--overlaid {
  background: pink;
}
/* button on focus */
.plyr--video .plyr__control:hover {
  background: black;
}

/* Example: Change color of progress bar */
.plyr--full-ui input[type="range"] {
  color: pink;
}

/* Example: Change player controls */
.plyr--video .plyr__controls {
    color: pink;
  font-size: 2em;
}

/* Example: Change playtime font size  */
.plyr__time {
    font-size: 18px;
}


/* Mobile 
  0 to 26em (416 pixels)
*/
@media only screen and (min-width: 0) { 
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: rgb(246, 246, 201);
       content: "Mobile Size";
  }
  
}

/* Tablet 
  26em (416 pixels) to 72em (1,152 pixels)
*/
@media only screen and (min-width: 26em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: rgb(138, 220, 235);
       content: "Tablet Size";
  }

}

/* Desktop 
   72em (1,152 pixels) to 90em (1440 pixels)
*/
@media screen and (min-width: 72em)  { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: grey;
       content: "Desktop Size";
  }

  /*  Control positionof player  */
  .trailer {
    display: flex;
    justify-content: center; 
  }
  
  /* Set Width of Player */
  .plyr {
    width: 80%;
  }
  
}

/* Wide Desktop: 
  Greater than 90em (1440px)
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: pink;
       content: "Wide Desktop Size";
  }
  
   /* Set Width of Player */
  .plyr {
    width: 60%;
  }

}